body {
  border: 0.4rem solid #d4d4d2;
  margin: 0%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* border-top: none; */
  /* font-family: 'PT Mono', monospace; */
}

.flex {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.flexCol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#navbar{
  display: none;
}
#popup{
  display: none;
  position: absolute;
  background-color: rgb(60, 61, 61);
  text-align: left;
  margin: 0.5rem 0 auto auto;
  padding: 1rem;
  left: 65%;
  opacity: 0.7;
  color: #fff;
}

#Mcatlog,
#Ccatlog,
#Dcatlog {
  width: 30%;
  background-color: rgb(71, 108, 0);
  border: none;
  height: 2.5rem;
  border-radius: 1rem;
}
#main {
  display: flex;
  width: fit-content;
  gap: 4%;
  height: fit-content;
  padding: 0 0 3rem;
  justify-content: space-between;
}
#main > div {
  width: 48%;
  justify-self: center;
}
#main img + div {
  padding-left: 10%;
}

#main > div:first-of-type {
  margin: auto 0;
}

#about {
  width: 88%;
  padding: 2rem 0;
  gap: 4%;
  margin: 0 auto;
  justify-content: space-between;
}

#about > div {
  width: 48%;
  justify-content: space-between;
}

#about > div:first-child > div:first-child {
  width: 36%;
}

#popular{
    margin: -0.5rem 6% -1.5rem;
}

#popular>div:first-child{
    margin: 1rem 0 0;
    align-items: center;
}
#popular>div:first-child>div{
    gap: 2rem;
}
#popular>div:nth-child(2) img{
    width: 100%;
    height: 80%;
}


#categories{
    margin: 0 6%;
}
#categories>div:first-child{
    height: 5rem;
    margin: 1rem auto 1rem;
    align-items: center;
}
#categories>div:nth-child(2) img{
    width: 100%;
    height: 80%;
}
#categories>div:nth-child(2) div{
  width: 25%;
}


#delivery {
    width: 88%;
    padding: 2rem 0;
    gap: 4%;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  #delivery > div {
    width: 48%;
    justify-content: space-between;
  }
  
  #delivery > div:first-child > div:first-child {
    width: 36%;
  }

  #social{
    margin: 0 6%;
  }
  #social>div:nth-child(2)>img{
    width: 30%;
    height: 20rem;
  }

  #social button{
    height: 2.5rem;
    width: 20%;
    border-radius: 0.5rem;
    border: 2px solid rgb(71, 108, 0);
    color: rgb(71, 108, 0);
    font-size: larger;
    font-weight: 400;
    margin: auto 0;
  }

  @media only screen and (max-width: 750px) {
    /* Styles for small screens */
    body{
      width: 100%;
    }
    #main{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }

    #main > div {
      width: 93%;
      justify-self: center;
    }

    #about{
      display: flex;
      flex-direction: column-reverse;
      margin:1rem  7%;
    }
    #about>div{
      width: 100%;
    }
    #popular>div:nth-child(2)>div:last-child{
      display: none;
    }
    #popular>div:nth-child(2) img{
      height: 100%;
    }

    #categories{
      margin-top: 3rem;
    }
    
    #categories>div:first-child img{
      width: 60%;

    }

    #categories>div:nth-child(2){
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    #categories>div:nth-child(2) div{
      width: 100%;
    }

    #delivery{
      display: flex;
      flex-direction: column-reverse;
      margin:1rem  7%;
      gap: 1.5rem;
    }
    #delivery>div{
      width: 100%;
    }

    #social>div:nth-child(2)>img:nth-child(3){
      display: none;
    }
    #social>div:nth-child(2)>img{
      width: 50%;
      height: 12rem;
    }
    #social>div:nth-child(2){
      margin-top: 1.5rem;
    }
    #social button{
      width: fit-content;
    }

    #popup{
      display: none;
      position: absolute;
      background-color: rgb(60, 61, 61);
      text-align: left;
      margin: 0.5rem 1rem auto auto;
      padding: 1rem;
      width: 100%;
      left: 50%;
      opacity: 0.7;
      color: #fff;
    }
    #navbar{
      display: block;
    }
    #nav-bar{
      display: none;
    }
  }